#emailinp{
    position: relative;
    left: 38px;
}
#passwordinp{
    position: relative;
    left: 21px;
}
.container-fluid{
    width: 50%;
    position: relative;
    left: 20%;
}
button{
    margin: 2%;
}
.main{
    border: 2px solid blue;
    padding: 4%;
    margin: 7%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
    background-color: black;
    position: relative;
    bottom: 100px;
    color: blue;
}
a{
    text-decoration: none;
}
h2{
    color: white;
}
h4{
    color: white;
} 


